@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
--color-primari: #539041;
--color-secundari: #47488e;
--color-terciari: groc;
--color-quaternari: #ececec;
--color-quinari: #ffffff;
font-family: "Roboto", sans-serif;
}

.a_la_dreta{
    display: flex;
    justify-content: end;
}

.logo{
    width: 55px;
    margin-top: 17px;
    margin-left: 19px;
    margin-bottom: 17px;
}

.header-dreta{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.persona{
    height: 70px;
    border-radius: 40px;
    
}

.nom{
    border-right: 1px solid black;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 12px;
    padding-left: 12px;
    color: var(--color-secundari);
}

.sortirSessio{
    color: var(--color-secundari);
    padding-left: 12px;
    padding-right: 12px;
}

.titol{
    text-align: center;
    background-color: var(--color-secundari);
    padding-bottom: 3px;
    color: var(--color-quinari);
}

.menu{
    background-color: var(--color-primari);
    height: 100vh;
    color: var(--color-quinari);
    font-size: 16px;
    padding: 0px;
}

.menu i{
    padding-right: 20px;
}

.menu ul{
    padding: 0px;
    margin: 0px;
    
}

.menu a{
    text-decoration: none;
    color: var(--color-quinari);
}

.menu li{
    list-style: none;
    border-bottom: 1px solid var(--color-quinari);
    padding: 16px;
    
}

.amaga{
    display: none;
}

.nopadding{
    padding: 0;
}

.panel{
    background-color: var(--color-quaternari);
    display: flex;
}
    
.inputs{  
    padding: 20px;
    width: 33%;
}

label{
    display: block;
}