body{
--color-primari: verd;
--color-secundari: lila;
--color-terciari: groc;
--color-quaternari: gris;
}

.header{
}

.a_la_dreta{
    display: flex;
    justify-content: end;
}

.logo{
    height: 115px;
    margin-left: 4px;
}

.header-dreta{
    display: flex;
    background-color: brown;
    align-items: center;
}

.persona{
    height: 70px;
    border-radius: 40px;
    
}

.nom{
}